# Derek Sandefur
## Week 7 2/27/2024
### Python List, Set, & Dictionary Comprehension

## List Comprehension Format:

- <code> new_list = [expression **for member in iterable**] <code/>

### Using Conditional logic (filter and map)
    
- filter: <code> new_list = [expression **for member in iterable** (if conditional)] <code/>   

- Map:<code> new_list = [expression (if conditional) for member in iterable]

In [1]:
s = 'Welcome to CIS310'
lst = []

for letter in s:
    lst.append(letter)
    
lst

['W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'C',
 'I',
 'S',
 '3',
 '1',
 '0']

In [2]:
# new_list = [expression for member in iterable]
lst = [letter for letter in s]
lst

['W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'C',
 'I',
 'S',
 '3',
 '1',
 '0']

In [3]:
squares = []
for n in range(1,11):
    squares.append(n**2)
    
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
# new_list = [expression for member in iterable]
squares =[n**2 for n in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
squares =[num**2 for num in (1,2,3,4,5,6,7,8,9,10)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
c_lst = [4,10,20,25.5,15.8,0,14.9] # (9/5) * t + 32

f_lst = [t * (9/5) + 32 for t in c_lst]

f_lst

[39.2, 50.0, 68.0, 77.9, 60.44, 32.0, 58.82]

In [10]:
# calculate the price after tax
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08
final_prices =[ round(t * (1+TAX_RATE),2) for t in txns]
final_prices

[1.18, 25.44, 62.47, 4.92, 7.32]

In [1]:
# filter:  new_list = [expression for member in iterable (if conditional)]
squares = [n**2 for n in range(1,16) if n%2 == 0]
squares

[4, 16, 36, 64, 100, 144, 196]

In [3]:
lst = [n for n in range(101) if n%5 == 0 if n%10 ==0]
lst

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [13]:
s = 'CIS310 communicate students with analytical thinking'
vowels = 'aeiou'
lst = [letter for letter in s if letter.lower() in vowels]
lst

['I', 'o', 'u', 'i', 'a', 'e', 'u', 'e', 'i', 'a', 'a', 'i', 'a', 'i', 'i']

In [11]:
'A'.islower()

False

In [14]:
# map a value: new_list = [expression (if conditional) for member in iterable]
prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
new_prices = [v if v > 0 else 0 for v in prices]
new_prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [15]:
lst = ['even' if n%2==0 else 'odd' for n in range(1,16)]
lst

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

In [16]:
#conditional logic - and, or
s = "Studies found that the financial impact of poor-quality data cost $3.1 trillion"
vowels = 'aeiou'
consonants = [letter for letter in s if letter.isalpha() and letter.lower() not in vowels]
consonants

['S',
 't',
 'd',
 's',
 'f',
 'n',
 'd',
 't',
 'h',
 't',
 't',
 'h',
 'f',
 'n',
 'n',
 'c',
 'l',
 'm',
 'p',
 'c',
 't',
 'f',
 'p',
 'r',
 'q',
 'l',
 't',
 'y',
 'd',
 't',
 'c',
 's',
 't',
 't',
 'r',
 'l',
 'l',
 'n']

In [18]:
# Nested list comprehensions
lst = [n**2 for n in [num for num in range(20) if num%2 ==0]]
lst

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [20]:
#Using Set and Dictionary Comprehensions
s = {n for n in range(15)}
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [22]:
s = "data preparation consumes an amount of time 80% spent on analytics"
set_of_vowels = {letter for letter in s if letter in 'aeiou'}
set_of_vowels

{'a', 'e', 'i', 'o', 'u'}

In [23]:
# Dictionary comprehensions
dt = {n:n**2 for n in range(10)}
dt

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [25]:
dt = {n:tuple(range(n)) for n in range(10)}
dt

{0: (),
 1: (0,),
 2: (0, 1),
 3: (0, 1, 2),
 4: (0, 1, 2, 3),
 5: (0, 1, 2, 3, 4),
 6: (0, 1, 2, 3, 4, 5),
 7: (0, 1, 2, 3, 4, 5, 6),
 8: (0, 1, 2, 3, 4, 5, 6, 7),
 9: (0, 1, 2, 3, 4, 5, 6, 7, 8)}

In [27]:
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
temps = {n:tuple(range(40,50)) for n in cities}
temps

{'Austin': (40, 41, 42, 43, 44, 45, 46, 47, 48, 49),
 'Tacoma': (40, 41, 42, 43, 44, 45, 46, 47, 48, 49),
 'Topeka': (40, 41, 42, 43, 44, 45, 46, 47, 48, 49),
 'Sacramento': (40, 41, 42, 43, 44, 45, 46, 47, 48, 49),
 'Charlotte': (40, 41, 42, 43, 44, 45, 46, 47, 48, 49)}

In [31]:
from random import randint
temps = {name:randint(40,50) for name in cities}
temps

{'Austin': 49, 'Tacoma': 45, 'Topeka': 48, 'Sacramento': 46, 'Charlotte': 40}

In [36]:
l = [1,2,1,2,3,4,5,6,2]
d = {1: 'yes', 2: 'no'}#get(), idle
lst = [d.get(n, 'idle') for n in l]
lst

['yes', 'no', 'yes', 'no', 'idle', 'idle', 'idle', 'idle', 'no']

In [42]:
d.get(3, 'idle')

'idle'

In [43]:
# multiple else statements
l = [1,2,1,2,3,4,5,6,2]
lst = ['yes' if n == 1 else 'no' if n == 0 else 'idle' for n in l]
lst

['yes', 'idle', 'yes', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle']

In [45]:
x = [5, 2, 1, 4, 5, 2,1,3] # "Accept" = 4, "Reject" = 1, "Pending" anything else
d = {1: "Reject", 3: "Pending", 4: "Accept"} 
lst = [d.get(n, 'idle') for n in l]
lst
# Do it after class

['Reject',
 'idle',
 'Reject',
 'idle',
 'Pending',
 'Accept',
 'idle',
 'idle',
 'idle']