# Derek Sandefur

## Week4 - 2/6/2024

### Built-In Data Structures - Python Dictionary {}

- Dictionary is a collection that is unordered and changable.
- Dictionaries store data valiues in key:value pairs.
- No Duplicates - Cannot have two items with the same key
- Changeable - Can change, add or remove items after the dictionary is created using keys.

In [1]:
dct1 = {'k1':'value1', 'k2':'value2', 'k3':'value3'}

In [2]:
type(dct1)

dict

In [3]:
len(dct1)

3

In [4]:
dct1.keys()

dict_keys(['k1', 'k2', 'k3'])

In [5]:
dct1.values()

dict_values(['value1', 'value2', 'value3'])

In [6]:
dct1.items()

dict_items([('k1', 'value1'), ('k2', 'value2'), ('k3', 'value3')])

In [7]:
car = {'brand':"Toyota",'model':'Prius','year':2023}

In [8]:
car['brand']

'Toyota'

In [9]:
car['year']

2023

In [10]:
car['year'] = 2020

In [11]:
car

{'brand': 'Toyota', 'model': 'Prius', 'year': 2020}

In [12]:
cis_dict = {'no': 5, 'cis':[200, 240,340,310,350], 'crn':{'001', '002', '003', '004', '005' }}

In [13]:
cis_dict

{'no': 5,
 'cis': [200, 240, 340, 310, 350],
 'crn': {'001', '002', '003', '004', '005'}}

In [14]:
cis_dict['crn']

{'001', '002', '003', '004', '005'}

In [15]:
cis_dict['no']

5

In [16]:
cis_dict

{'no': 5,
 'cis': [200, 240, 340, 310, 350],
 'crn': {'001', '002', '003', '004', '005'}}

In [17]:
cis_dict['ins'] = ('Dr. Abdunabi', 'Dr. Leo')

In [18]:
cis_dict

{'no': 5,
 'cis': [200, 240, 340, 310, 350],
 'crn': {'001', '002', '003', '004', '005'},
 'ins': ('Dr. Abdunabi', 'Dr. Leo')}

In [19]:
cis_dict['no'] = 8

In [20]:
cis_dict

{'no': 8,
 'cis': [200, 240, 340, 310, 350],
 'crn': {'001', '002', '003', '004', '005'},
 'ins': ('Dr. Abdunabi', 'Dr. Leo')}

In [21]:
cis_dict['cis'][-2]

310

In [22]:
cis_dict['ins'][0]

'Dr. Abdunabi'

In [23]:
cis_dict['ins'][0].upper()

'DR. ABDUNABI'

In [24]:
cis_dict

{'no': 8,
 'cis': [200, 240, 340, 310, 350],
 'crn': {'001', '002', '003', '004', '005'},
 'ins': ('Dr. Abdunabi', 'Dr. Leo')}

In [25]:
cis_dict['cis'].append(413)

In [26]:
cis_dict

{'no': 8,
 'cis': [200, 240, 340, 310, 350, 413],
 'crn': {'001', '002', '003', '004', '005'},
 'ins': ('Dr. Abdunabi', 'Dr. Leo')}

In [27]:
cis_dict['college'] = 'COB'

In [28]:
cis_dict

{'no': 8,
 'cis': [200, 240, 340, 310, 350, 413],
 'crn': {'001', '002', '003', '004', '005'},
 'ins': ('Dr. Abdunabi', 'Dr. Leo'),
 'college': 'COB'}

In [29]:
dict2 = {}

In [30]:
dict2['fruit'] = 'apple'

In [31]:
dict2['number'] = 3

In [32]:
dict2

{'fruit': 'apple', 'number': 3}

In [33]:
dict2.keys()

dict_keys(['fruit', 'number'])

In [34]:
dict2.values()

dict_values(['apple', 3])

In [35]:
dict2.items()

dict_items([('fruit', 'apple'), ('number', 3)])

In [36]:
dict2['taste'] = ['Sour','Sweet','Salty', 'Bitter']

In [37]:
dict2

{'fruit': 'apple', 'number': 3, 'taste': ['Sour', 'Sweet', 'Salty', 'Bitter']}

In [38]:
#set
w = {'hello','hello','where','where','who','who','who'}

In [39]:
w

{'hello', 'where', 'who'}

In [40]:
dict2['words'] = w

In [41]:
dict2

{'fruit': 'apple',
 'number': 3,
 'taste': ['Sour', 'Sweet', 'Salty', 'Bitter'],
 'words': {'hello', 'where', 'who'}}

In [42]:
numbers = [10,5,20,56,80,90]

In [43]:
numbers

[10, 5, 20, 56, 80, 90]

In [44]:
dict2['n'] = numbers

In [45]:
dict2

{'fruit': 'apple',
 'number': 3,
 'taste': ['Sour', 'Sweet', 'Salty', 'Bitter'],
 'words': {'hello', 'where', 'who'},
 'n': [10, 5, 20, 56, 80, 90]}

In [46]:
#nested dictionaries
dict3 = {'k1':{'k2':{'k3:':'value'}}, 'k4':{'k5':555}, 'k6':66}

In [47]:
len(dict3)

3

In [48]:
dict3['k4']

{'k5': 555}

In [49]:
dict3['k4']['k5']

555

In [50]:
dict3

{'k1': {'k2': {'k3:': 'value'}}, 'k4': {'k5': 555}, 'k6': 66}

In [51]:
dict3['k1']['k2']['k3'] = 'value22'

In [52]:
dict3

{'k1': {'k2': {'k3:': 'value', 'k3': 'value22'}}, 'k4': {'k5': 555}, 'k6': 66}

In [53]:
myFamily = {
    'child1': {'name':'Jen','DoB':'01/01/2000'},
    'child2': {'name':'Alice','DoB':'06/01/2004'},
    'child3': {'name':'Bob','DoB':'10/16/2008'},
    'spouse': {'name':'Jon','DoB':'12/20/1978','MD':'08/08/1998'}
}

In [54]:
myFamily['child2']

{'name': 'Alice', 'DoB': '06/01/2004'}

In [55]:
myFamily['child2']['name']

'Alice'

In [56]:
myFamily['spouse']['DoB']

'12/20/1978'

In [57]:
# change the third child date of birth to '10/16/2000'
# Task completed by students

In [58]:
myFamily.get('child1')

{'name': 'Jen', 'DoB': '01/01/2000'}

In [59]:
myFamily.get('child1')['DoB']

'01/01/2000'

In [60]:
myFamily.pop('child3')

{'name': 'Bob', 'DoB': '10/16/2008'}

In [61]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [62]:
car

{'brand': 'Toyota', 'model': 'Prius', 'year': 2020}

In [63]:
car.popitem()

('year', 2020)

In [64]:
car

{'brand': 'Toyota', 'model': 'Prius'}

In [65]:
car.popitem()

('model', 'Prius')

In [66]:
car

{'brand': 'Toyota'}

In [67]:
back = myFamily.copy()

In [68]:
back

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [69]:
myFamily['spouse']['name'] = 'Bob'

In [70]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'spouse': {'name': 'Bob', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [71]:
back2 = myfamily

NameError: name 'myfamily' is not defined

In [72]:
back2

NameError: name 'back2' is not defined

In [73]:
myFamily['child']['name'] = 'Tom'

KeyError: 'child'

In [74]:
back2.clear()

NameError: name 'back2' is not defined

In [75]:
back2

NameError: name 'back2' is not defined

In [76]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'spouse': {'name': 'Bob', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [77]:
# rename key
my_dict = {'apple': 1, 'banana': 2,'orange':3}

In [78]:
my_dict

{'apple': 1, 'banana': 2, 'orange': 3}

In [79]:
my_dict['pear'] = my_dict.pop('banana')

In [80]:
my_dict

{'apple': 1, 'orange': 3, 'pear': 2}

In [81]:
my_dict.pop('apple')

1

In [82]:
# Casting and nested collections
# set
s = {1,30,12,'c','a',"alice","Jon",{1,2}}

TypeError: unhashable type: 'set'

In [83]:
s = {1,30,12,'c','a',"alice","Jon",(1,2)}

In [84]:
s.add(12345)

In [85]:
s

{(1, 2), 1, 12, 12345, 30, 'Jon', 'a', 'alice', 'c'}

In [86]:
ls = [2,3,4,5,{3,3,4},(3,4,5,6,7),['a','b','c'],{'k1':1}]

In [87]:
ls[-1]

{'k1': 1}

In [88]:
ls[-1]['k1']

1

In [90]:
my_dict = {0:'one', 1:'two', 3:'three'}
my_dict

{0: 'one', 1: 'two', 3: 'three'}

In [91]:
lst = ['one','two','three']
lst

['one', 'two', 'three']

In [92]:
s

{(1, 2), 1, 12, 12345, 30, 'Jon', 'a', 'alice', 'c'}

In [93]:
lst = list(s)

In [94]:
lst

[(1, 2), 1, 'c', 'Jon', 'a', 12, 'alice', 12345, 30]

In [95]:
tp = tuple(lst)

In [96]:
tp

((1, 2), 1, 'c', 'Jon', 'a', 12, 'alice', 12345, 30)

In [97]:
d = dict(s)

TypeError: cannot convert dictionary update sequence element #1 to a sequence

In [98]:
ls = list(my_dict)

In [99]:
ls

[0, 1, 3]

In [100]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'spouse': {'name': 'Bob', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [101]:
ls = list(myFamily)

In [102]:
ls

['child1', 'child2', 'spouse']

In [103]:
ls = list(myFamily.values())

In [104]:
ls

[{'name': 'Jen', 'DoB': '01/01/2000'},
 {'name': 'Alice', 'DoB': '06/01/2004'},
 {'name': 'Bob', 'DoB': '12/20/1978', 'MD': '08/08/1998'}]

In [105]:
ls = list(my_dict)

In [106]:
ls

[0, 1, 3]

In [107]:
ls = list(my_dict.values())

In [108]:
ls

['one', 'two', 'three']

In [109]:
my_dict

{0: 'one', 1: 'two', 3: 'three'}

In [110]:
ls = list(my_dict.items())

In [111]:
ls

[(0, 'one'), (1, 'two'), (3, 'three')]

In [113]:
tp = tuple(my_dict.items())

In [114]:
tp

((0, 'one'), (1, 'two'), (3, 'three'))

In [115]:
s = set(my_dict.items())

In [116]:
s

{(0, 'one'), (1, 'two'), (3, 'three')}

In [117]:
s = set(my_dict.keys())

In [118]:
s

{0, 1, 3}