# Derek Sandefur
## Week 6 02/20/2024
### Python For Loop

**General for loops format:**

<code> for item in object:
    statements to do work </code>

In [1]:
sc = [68,87,90,89,92,78,88,75,79,85]

In [2]:
for n in sc:
    print(f'n = {n}')

n = 68
n = 87
n = 90
n = 89
n = 92
n = 78
n = 88
n = 75
n = 79
n = 85

In [3]:
for n in sc[::-1]:
    print(f'n = {n}')

n = 85
n = 79
n = 75
n = 88
n = 78
n = 92
n = 89
n = 90
n = 87
n = 68

In [4]:
# print even and odd numbers in the list
4 % 2

0

In [5]:
for n in sc:
    if n % 2 == 0:
        print(f'Even = {n}') 
    else:
        print(f'Odd = {n}')

Even = 68
Odd = 87
Even = 90
Odd = 89
Even = 92
Even = 78
Even = 88
Odd = 75
Odd = 79
Odd = 85

In [6]:
odd = []
even = []
for n in sc:
    if n % 2 == 0:
        even.append(n) 
    else:
        odd.append(n)

In [7]:
even

[68, 90, 92, 78, 88]

In [8]:
odd

[87, 89, 75, 79, 85]

In [9]:
# Average of the scores
s = 0
for n in sc:
    s+=n
    
print(f'average = {s/len(sc)}')

average = 83.1

In [10]:
for letter in 'I am a student in CIS310':
    if not letter.isspace():
        print(letter, end='')

IamastudentinCIS310

In [11]:
# tuple
t = (5,7,9,10,14)

for n in t:
    print(n)

5
7
9
10
14

In [12]:
# set
s = {5,7,9,10,14}

for n in s:
    print(n)

5
7
9
10
14

In [13]:
lst1 = ['red', 'blue', 'green', 'yellow']
lst2 = [10,8,5,9]
lst = list(zip(lst1,lst2))

In [14]:
lst

[('red', 10), ('blue', 8), ('green', 5), ('yellow', 9)]

In [15]:
for item in lst:
    print(item)

('red', 10)
('blue', 8)
('green', 5)
('yellow', 9)

In [16]:
for (t1,t2) in lst:
    print(t1)

red
blue
green
yellow

In [17]:
for (t1,t2) in lst:
    print(t2)

10
8
5
9

In [18]:
for item in lst:
    print(item[0])

red
blue
green
yellow

In [19]:
for item in lst:
    print(item[-1])

10
8
5
9

In [20]:
d = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [21]:
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [22]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [23]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [24]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [25]:
for item in d:
    print(item)

brand
model
year

In [26]:
for item in d.values():
    print(item)

Ford
Mustang
1964

In [27]:
for item in d.values():
    print(item)

Ford
Mustang
1964

In [28]:
for item in d.items():
    print(item[1])

Ford
Mustang
1964

In [29]:
for k,v in d.items():
    print(k)

brand
model
year

In [30]:
for k,v in d.items():
    print(v)

Ford
Mustang
1964

In [31]:
# Break and continue
fruits = ['Apple',"Banana","Cherry", 'Orange']
for f in fruits:
    print(f)

Apple
Banana
Cherry
Orange

In [32]:
for f in fruits:
    print(f)
    if f == 'Banana':
        break

Apple
Banana

In [33]:
#continue keyword
for f in fruits:
    if f == 'Banana':
        continue
    print(f)

Apple
Cherry
Orange

In [34]:
t = (10,5,6,3,9,8,2)
for n in t:
    if n % 2 !=0:
        continue
    print(n)

10
6
8
2

In [35]:
#Python built-in function - range()
range(6)

range(0, 6)

In [36]:
for num in range(6):
    print(num)

0
1
2
3
4
5

In [37]:
for num in range(5,15):
    print(num)

5
6
7
8
9
10
11
12
13
14

In [38]:
for num in range(5,15,2):
    print(num)

5
7
9
11
13

In [39]:
range(10)

range(0, 10)

In [40]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
# How to loop with idex in Python
colors = ["red", "green", "blue", "purple"]
for c in colors:
    print(c)

red
green
blue
purple

In [42]:
len(colors)

4

In [43]:
range(len(colors))

range(0, 4)

In [44]:
for index in range(len(colors)):
    print(index,colors[index])

0 red
1 green
2 blue
3 purple

In [45]:
names = ["Washington", "Adams", "Jefferson", "Madison", "Monroe", "Adams", "Jackson",]

In [47]:
for index in range(len(names)):
    print(index+1,names[index])

1 Washington
2 Adams
3 Jefferson
4 Madison
5 Monroe
6 Adams
7 Jackson

In [48]:
# Pythons's built-in enumerate function
for idx, n in enumerate(names):
    print(idx,n)

0 Washington
1 Adams
2 Jefferson
3 Madison
4 Monroe
5 Adams
6 Jackson

In [49]:
for idx, n in enumerate(names, start=1):
    print(idx,n)

1 Washington
2 Adams
3 Jefferson
4 Madison
5 Monroe
6 Adams
7 Jackson

In [76]:
#What if we need to loop over multiple things? Without nested Loop
colors = ["red", "green", "blue", "purple"]
ratios = [0.2, 0.3, 0.1, 0.4]

for index,n in enumerate(colors):
    print(str(int(ratios[index] *100))+ '%',colors[index])

20% red
30% green
10% blue
40% purple

In [77]:
for index,n in enumerate(colors):
    print(str(int(ratios[index] *100))+ '%',n)

20% red
30% green
10% blue
40% purple

In [78]:
for lst in list(zip(ratios,colors)):
    print(str(int(lst[0] * 100)) + '%',lst[1])

20% red
30% green
10% blue
40% purple

In [79]:
list(zip(ratios,colors))

[(0.2, 'red'), (0.3, 'green'), (0.1, 'blue'), (0.4, 'purple')]

In [81]:
s = "Python provide an Efficienct and Streamlined approach to Data Wrangling"
upper_case = []

for l in s:
    if l.isupper():
        upper_case.append(l)
        
        
upper_case

['P', 'E', 'S', 'D', 'W']

In [82]:
#pass
fruits

['Apple', 'Banana', 'Cherry', 'Orange']

In [83]:
for f in fruits:

SyntaxError: unexpected EOF while parsing (<ipython-input-83-f721dfe0837f>, line 1)

In [84]:
for f in fruits:
    pass

In [86]:
#else
for f in fruits:
    print(f.upper())
else:
    print('Done!')

APPLE
BANANA
CHERRY
ORANGE
Done!