# Derek Sandefur
## Week 10 - 3/19/2024
### Python - lambda function, higher-order functions: map(), filter(), and reduce()

In [1]:
# Lambda is an anonymous function that is defined without a name
# Lambda arguements : expression
# it takes any number of arugements, but can only have one expression.

In [2]:
def square(x):
    return x**2

In [3]:
square(5)

25

In [4]:
square_lambda = lambda x:x**2

In [5]:
square_lambda (5)

25

In [6]:
larger = lambda x,y: x if x> y else y

In [7]:
larger(8,15)

15

In [8]:
# Using function in list comprehensions
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08

final_price = [round(txn * (1+TAX_RATE)) for txn in txns]
final_price

[1, 25, 62, 5, 7]

In [9]:
def get_price_after_tax(value):
    return round(value * (1 + TAX_RATE),2)

In [10]:
final_price = [get_price_after_tax (price) for price in txns]
final_price

[1.18, 25.44, 62.47, 4.92, 7.32]

In [11]:
# Higher-order functions, such as map(), filter(), and reduce()
# it contains other functions as a parameter or returns a function as an output
# map()

In [12]:
final_prices = list(map(get_price_after_tax, txns))
final_prices

[1.18, 25.44, 62.47, 4.92, 7.32]

In [13]:
final_prices = list(map(lambda txn:round(txn * (1 + TAX_RATE),2) , txns))
final_prices

[1.18, 25.44, 62.47, 4.92, 7.32]

In [14]:
nums = [1,2,3,4,5,6,7]
lst = [square(x) for x in nums]
lst

[1, 4, 9, 16, 25, 36, 49]

In [15]:
lst = list(map(square,nums))
lst

[1, 4, 9, 16, 25, 36, 49]

In [16]:
lst = list(map(lambda x:x**2,nums))
lst

[1, 4, 9, 16, 25, 36, 49]

In [17]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [18]:
words = ["Ford", "Nissan", "GMC", "Madza", "Dodge", "BMW"]
list(map(lambda w: 'EVEN' if len(w)%2 ==0 else w[:2], words))

['EVEN', 'EVEN', 'GM', 'Ma', 'Do', 'BM']

In [19]:
list(map(lambda w: 'EVEN' if len(w)%2 ==0 else w[::-1], words))

['EVEN', 'EVEN', 'CMG', 'azdaM', 'egdoD', 'WMB']

In [20]:
words

['Ford', 'Nissan', 'GMC', 'Madza', 'Dodge', 'BMW']

In [21]:
# filter()
'''
The filter() function extracts elements from
an iterable (list, tuple etc.) for which a function returns True.

Format:

filter(function, iterable)
'''

'\nThe filter() function extracts elements from\nan iterable (list, tuple etc.) for which a function returns True.\n\nFormat:\n\nfilter(function, iterable)\n'

In [22]:
def evenNum(num):
    return num%2 == 0

In [23]:
nums = [1,5,6,8,10,12,13,43,42,35,18]
list(filter(evenNum,nums))

[6, 8, 10, 12, 42, 18]

In [24]:
nums

[1, 5, 6, 8, 10, 12, 13, 43, 42, 35, 18]

In [25]:
list(filter(lambda n: n%2 == 0,nums))

[6, 8, 10, 12, 42, 18]

In [26]:
set(filter(lambda n: n%2 == 0,nums))

{6, 8, 10, 12, 18, 42}

In [27]:
range(100)

range(0, 100)

In [28]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
list(map(lambda n: n%2 == 0,nums))

[False, False, True, True, True, True, False, False, True, False, True]

In [30]:
letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o']
vowels = 'aeiou'
list(filter(lambda b: b in vowels, letters))

['a', 'e', 'i', 'o']

In [31]:
# Reduce: reduce(function, iterable[, initializer])
import functools
from functools import reduce

def prod(x,y):
    return x * y

reduce(prod,nums)

425984832000

In [32]:
nums

[1, 5, 6, 8, 10, 12, 13, 43, 42, 35, 18]

In [33]:
lst =[1,2,3,4,5]
reduce(prod,lst)

120

In [34]:
reduce(lambda x,y: x * y,lst,2)

240

In [35]:
reduce(lambda x,y: x * y,lst)

120

In [36]:
reduce(lambda x,y: x * y + 2,lst)

292

In [37]:
reduce(lambda x,y: x + y,lst)

15

In [39]:
reduce(lambda x,y: x if x < y else y,lst)

1

In [41]:
words = ["Ford", "Nissan", "GMC", "Madza", "Dodge", "BMW"]
reduce(lambda x,y: x if len(x) < len(y) else y,words)

'BMW'